@import "header.css";

body {
  margin: 0;
  padding: 0;
  background-color: #fdf1f1;
}

li a.aboutUsBtn {
  color: #e46363;
}

li {
  font-weight: bold;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

ul li {
  display: inline-block;
}

strong {
  text-decoration: none;
  background-image: url("https://media.giphy.com/media/3ohzdWCPA7XOeBN8wo/giphy.gif");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ProfilePic {
  width: 202px;
  height: 260px;
}

.alexis {
  float: right;
  transform: rotate(10.81deg);
  padding-right: 12%;
}

.aditi {
  float: left;
  transform: rotate(-7deg);
}

.ben {
  float: left;
  transform: rotate(-10.81deg);
  padding-left: 12%;
}

.studentLeft {
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 1%;
  padding-bottom: 5%;
  font-family: 'Roboto';
  color: #e46363;
}

.studentRight {
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 1%;
  padding-bottom: 5%;
  font-family: 'Roboto';
  color: #e46363;
  text-align: right;
}

.picLeft {
  float: left;
  padding-left: 12%;
}

.picRight {
  float: right;
  padding-right: 12%;
}

.larren {
  float: right;
  transform: rotate(9deg);
}

.cotton {
  padding-left: 0%;
}

.cottonFarmer {
  padding-top: 16%;
  padding-left: 5%;
  transform: rotate(-7deg);
  float: left;
  position: absolute;
  height: 320px;
  width: 281px;
}

.topPics {
  padding-left: 16%;
  padding-right: 16%;
}

div.aboutUs,
div.ourMission,
div.ourTeam {
  margin-top: 10%;
  margin-bottom: 26%;
  padding-left: 12%;
  padding-right: 12%;
  font-family: "Roboto", sans-serif;
}

div.aboutUs {
  padding-left: 20%;
  padding-right: 20%;
}

div.ourMission {
  padding-top: 16%;
  padding-left: 20%;
}

div.ourTeam {
  padding-top: 0%;
  margin-bottom: 16%;
}

.ourTeam p {
  color: #0c7060;
  font-family: monospace;
}

.ourMission p {
  color: #0c7060;
  font-family: "Montserrat";
  font-weight: 500;
}

h1 {
  text-align: center;
  font-size: 34px;
  color: #e46363;
  padding-top: 20%;
  position: relative;
}

h2 {
  text-align: left;
  color: #e46363;
  font-size: 32px;
  padding-left: 19%;
}

h3 {
  text-align: center;
  color: #e46363;
  font-size: 32px;
}

h4 {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 26px;
}

span {
  border-bottom: 4px solid #324f5c;
  padding-bottom: 5px;
}

button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourteam-info {
  text-align: center;
}

p {
  font-size: 18px;
  padding: 5px 10em;
  font-family: "Roboto";
  color: #0c7060;
}

a.email {
  font-family: "Roboto";
  color: #0c7060;
}

a.email::after {
  font-family: "Roboto";
  color: #0c7060;
}

p.LearnMore {
  padding-top: 10px;
  color: #ebd7d7;
}

.footer {
  text-align: center;
  background: black;
  color: white;
  height: 140px;
  position: relative;
}
.footerColumn {
  flex-direction: row;
}
.footer .footer-bottom {
  color: rgb(224, 224, 224);
  text-align: center;
  font-family: monospace;
  position: absolute;
}

.socials {
  display: flex;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  padding-bottom: 50px;
}

.fa {
  color: white;
  padding: 10px 10px;
  margin: 10px 30px;
  border: 1px solid white;
  border-radius: 30%;
  transition: 0.5s;
}

@media (max-width: 900px) {
  .fa {
    padding: 4px 4px;
    margin: 5px 15px;
  }
  li {
    font-size: 14px;
  }
  li a {
    padding: 12px 14px;
    margin: auto;
  }
}
