@import "header.css";

body {
  margin: 0;
  padding: 0;
}

.fairtrade-type-img {
  width: 20em;
  margin-left: 30px;
  margin-top: 10px;
}

ul {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  font-weight: bold;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

ul li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: 6px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: black;
  border-radius: 25px;
}
.sector {
  text-align: center;
  font-family: monospace;
  font-size: 52px;
  padding-bottom: 40px;
}
span {
  border-bottom: 4px solid rgb(209, 54, 54);
}
.company-name {
  text-align: left;
  font-family: monospace;
  font-size: 35px;
  padding-left: 20px;
  border-bottom: 2px solid black;
}
button {
  background-color: #000000;
  text-decoration: none;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;

  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
a:link,
a:visited {
  text-decoration: none;
  color: white;
}

.company1-content {
  width: 95vw;
  text-align: center;
  font-size: 20px;

  line-height: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw;
}
.company1-p {
  margin: 20px 75px 0 55px;
}
.company1-button {
  align-self: center;
  justify-self: center;
  margin-left: 10px;
  width: 13vw;
}
.company2-content {
  width: 95vw;
  text-align: center;
  font-size: 20px;

  line-height: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw;
}
.company2-p {
  margin: 20px 75px 0 55px;
}
.company2-button {
  align-self: center;
  justify-self: center;
  margin-left: 10px;
  width: 18vw;
}
.company3-content {
  width: 95vw;
  text-align: center;
  font-size: 20px;

  line-height: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw;
}
.company3-p {
  margin: 20px 75px 30px 65px;
}
.company3-button {
  align-self: center;
  justify-self: center;
  margin-left: 10px;
  width: 15vw;
}

.footer {
  background: black;
  color: white;
  height: 70px;
  position: relative;
  padding: 18px 0 18px 0;
}

.footer .footer-bottom {
  color: white;
  width: 100%;
  left: 0px;
  bottom: 0px;
  text-align: left;
  position: absolute;
  padding-top: 20px;
  height: 30px;
}

.socials {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}

.fa {
  color: white;
  padding: 10px 10px;
  margin: 10px 30px;
  border: 1px solid white;
  border-radius: 30%;
  transition: 0.5s;
}
@media screen and (max-width: 1000px) {
  .company1-content,
  .company2-content,
  .company3-content {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .sector {
    margin-top: 50px;
  }
}
.footer {
  background: black;
  color: white;
  height: 40px;
  position: relative;
}
@media (max-width: 900px) {
  .fa {
    padding: 4px 4px;
    margin: 5px 15px;
  }
  li {
    font-size: 14px;
  }
  li a {
    padding: 12px 14px;
    margin: auto;
  }
}
