.beanLogo {
  position: fixed;
  z-index: 100;
  height: 7.5em;
  left: 16px;
  top: 4px;
}

.donate {
  background-color: #efc8a4;
  color: #be7938;
  border-radius: 16px;
}

.topnav {
  z-index: 100;
  text-align: right;
  list-style: none;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #e9dada;
  position: fixed;
  top: -10px;
  width: 100%;
}

li a {
  display: block;
  color: #cc9292;
  text-align: center;
  padding: 14px 16px;
  margin: 6px;
  text-decoration: none;
  font-family: "Montserrat";
}

li a:hover {
  color: #e46363;
}

.donate:hover {
  color: rgb(5, 109, 52);
  border-radius: 16px;
  background-color: rgb(55, 206, 123);
}

span {
  border-bottom: 4px solid #324f5c !important;
  padding-bottom: 5px;
}

button {
  background-color: #324f5c !important;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
body {
  background-color: beige;
}
.footer {
  background: #325c54 !important;
  color: white;
}
.footer .footer-bottom {
  color: white;
  width: 100%;
  left: 0px;
  bottom: 0px;
  text-align: left;
  position: absolute;
  padding-top: 20px;
  height: 30px;
}
.socials {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}
