@import "header.css";

body {
  margin: 0;
  padding: 0;
}

ul {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

#ProfilePic {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

li {
  font-weight: bold;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

ul li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: 6px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: black;
  border-radius: 25px;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 52px;
}

.meet-team {
  text-align: center;
  font-size: 18px;
}

span {
  border-bottom: 4px solid rgb(209, 54, 54);
  padding-bottom: 5px;
}

main {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-color: #324f5c;
  margin: 8px;
  border-radius: 25px;
  background-color: auto;
  padding-top: 20px;
}
.profilePic {
  border-radius: 25px;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 8px;
  outline: 0;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.footer {
  background: black;
  color: white;
  height: 70px;
  position: relative;
}

.footer .footer-bottom {
  color: white;
  width: 100%;
  left: 0px;
  bottom: 0px;
  text-align: left;
  position: absolute;
  padding-top: 20px;
  height: 30px;
}

.socials {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}

.fa {
  color: white;
  padding: 10px 10px;
  margin: 10px 30px;
  border: 1px solid white;
  border-radius: 30%;
  transition: 0.5s;
}

#Lilla {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#HweiLinn {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#Salwa {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#Aditi {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
    display: block;
  }
  .fa {
    padding: 4px 4px;
    margin: 5px 15px;
  }
  li {
    font-size: 14px;
  }
  li a {
    padding: 12px 14px;
    margin: auto;
  }
}
