@import "header.css";

body {
  margin: 0;
  padding: 0;
  background-color: #fdf1f1;
}

h1 {
  text-align: center;
  font-size: 34px;
  color: #e46363;
  padding-top: 120px;
  position: relative;
}
.topnav {
  left: 0;
  z-index: 100;
}

li {
  font-weight: bold;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

li a {
  display: block;
  color: #cc9292;
  text-align: center;
  padding: 14px 16px;
  margin: 6px;
  text-decoration: none;
}

li a:hover {
  color: #e46363;
}

ul li {
  display: inline-block;
}

.meet-team {
  text-align: center;
  font-size: 18px;
}

span {
  border-bottom: 4px solid rgb(209, 54, 54);
  padding-bottom: 5px;
}

main {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-color: #b0b3b4;
  margin: 8px;
  border-radius: 12px;
  background-color: auto;
  padding-top: 20px;
}
.profilePic {
  border-radius: 25px;
}

.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 8px;
  outline: 0;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

p.LearnMore {
  padding-top: 10px;
  color: #ebd7d7;
}

.footer {
  text-align: center;
  background: black;
  color: white;
  height: 140px;
  position: relative;
  bottom: 0px;
}
.footerColumn {
  flex-direction: row;
}
.footer .footer-bottom {
  color: rgb(224, 224, 224);
  text-align: center;
  font-family: monospace;
  position: absolute;
}

.socials {
  display: flex;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  padding-bottom: 50px;
}

.fa {
  color: white;
  padding: 10px 10px;
  margin: 10px 30px;
  border: 1px solid white;
  border-radius: 30%;
  transition: 0.5s;
}


@media screen and (max-width: 900px) {
  .column {
    width: 50%;
    display: block;
  }
  .fa {
    padding: 4px 4px;
    margin: 5px 15px;
  }
  li {
    font-size: 14px;
  }
  li a {
    padding: 12px 14px;
    margin: auto;
  }
}

div.card {
  padding-left: 30px;
  padding-right: 30px;
  width: 1000px;
  display: block;
  margin: 0 auto;
}

